<div class="container">
  <div class="row">
    <h5>観光地一覧</h5>
  </div>
  <div class="row">
    <% @tourist_spots.each do |tourist_spot| %>
    <%= link_to tourist_spot_path(tourist_spot.id) do %><%= image_tag tourist_spot.image, size: "200x150" %><% end %>
    <%= tourist_spot.name %>
    <% end %>
  </div>
</div>