<div class="container">
  <div class="row">
    <h5>観光地一覧</h5>
    <%= link_to new_admin_tourist_spot_path do %>新規登録<% end %>
  </div>
  <div class="row">
    <% @tourist_spots.each do |tourist_spot| %>
    <%= link_to admin_tourist_spot_path(tourist_spot.id) do %><%= image_tag tourist_spot.image, size: "150x200" %><% end %>
    <%= tourist_spot.name %>
    <% end %>
  </div>
</div>